.clear{zoom:1;}
.clear:after{content:'';display:block;clear:both;}

.ad-top,.ad-top .AD-wrap i {
	color:#fff;
	text-align:center
}
.ad-top {
	display:block;
	background:#4972e7;
	padding:10px 0;
	width:100%;
	line-height:30px
}
.ad-top .AD-wrap {
	display:block;
	width:600px;
	margin:0 auto;
	height:60px
}
.ad-top .AD-wrap i {
	border:1px solid #fff;
	width:24px;
	height:24px;
	display:block;
	position:absolute;
	right:10%;
	top:27px;
	line-height:22px;
	border-radius:50%;
	font-style:normal;
	font-size:22px;
	z-index:999;
	opacity:0;
	animation:closeTwinkling 2s ease-in-out .2s forwards;
	-webkit-animation:closeTwinkling 2s ease-in-out .2s forwards;
	-o-animation:closeTwinkling 2s ease-in-out .2s forwards;
	-moz-animation:closeTwinkling 2s ease-in-out .2s forwards;
	-ms-animation:closeTwinkling 2s ease-in-out .2s forwards
}
@-webkit-keyframes closeTwinkling {
	0% {
	opacity:0
}
100% {
	opacity:1
}
}@-moz-keyframes closeTwinkling {
	0% {
	opacity:0
}
100% {
	opacity:1
}
}.ad-top span {
	display:block;
	opacity:0;
	animation:twinkling 2s ease-in-out .2s forwards;
	-webkit-animation:twinkling 2s ease-in-out .2s forwards;
	-o-animation:twinkling 2s ease-in-out .2s forwards;
	-moz-animation:twinkling 2s ease-in-out .2s forwards;
	-ms-animation:twinkling 2s ease-in-out .2s forwards
}
.ad-top span b,.ad-top span font,.ad-top span img {
	display:inline-block;
	vertical-align:middle;
	font-size:24px;
	font-family:SourceHanSans
}
.ad-top span img {
	margin:0 8px
}
@-webkit-keyframes twinkling {
	0% {
	opacity:0;
	margin-left:-600px
}
100% {
	opacity:1;
	margin-left:0
}
}@-moz-keyframes twinkling {
	0% {
	opacity:0;
	margin-left:-600px
}
100% {
	opacity:1;
	margin-left:0
}
}.home-body {
	width:100%;
	background:url(../images/bg.jpg) top center no-repeat #11214e;
	background-size:cover;
	min-height:900px;
	max-height:1080px
}
.index .nav,.index .sec-nav {
	background:0 0;
	border:none;
	box-shadow:none
}
.index .nav .content-menu li font {
	display:none!important
}
.contents-banner {
	clear:both;
	max-width:1200px;
	margin:50px auto 0;
	padding:130px 0 80px;
	position:relative
}
.content-servers {
	display:block;
	float:left;
	width:32%;
	position:relative
}
.contents-product {
	display:block;
	position:relative;
	width:100%
}
.content-servers span {
	font-size:150px;
	font-weight:400;
	float:left;
	margin:0
}
.content-servers font {
	display:block;
	width:110%;
	text-align:center;
	font-size:18px;
	margin-bottom:12px;
	background: #ccc;
}
.content-servers font b {
	display:block;
	height:1px;
	width:48px;
	margin:10px auto
}
.content-servers:first-child font b {
	background:#147dff
}
.content-servers:nth-child(2) font {
	position:absolute;
	top:42px
}
.content-servers:nth-child(2) font b {
	background:#2fe17a
}
.content-servers:last-child font b {
	background:#f7af3e
}
.content-servers a .pro-explain {
	color:#fff;
	text-align:center;
	left:-27px;
	top:-14px;
	width:220px;
	height:191px;
	position:absolute;
	z-index:99999;
	opacity:0;
	transition:opacity .5s;
	-moz-transition:opacity .5s,-moz-transform .5s;
	-webkit-transition:opacity .5s,-webkit-transform .5s;
	-o-transition:opacity .5s,-o-transform .5s
}
@media only screen and (min-width:1280px) {
	.content-servers a .pro-explain {
	left:-24px
}
}.content-servers a:hover .pro-explain {
	opacity:1;
	width:220px;
	height:191px
}
.content-servers a .pro-explain h3 {
	font-size:20px;
	
	font-family:kefa_presssregular
}
.content-servers a .pro-explain h4 {
	clear:both;
	font-size:16px;
	margin-top:34px;
}
.content-servers a .pro-explain h5 {
	clear:both;
	font-size:14px;
	line-height:24px
}
.web_en .content-servers a .pro-explain h5 {
	width:80%;
	margin:0 auto;
	line-height:16px
}
.content-servers a .pro-explain hr {
	width:140px;
	opacity:.2;
	margin:10px auto
}
.pro-explain.blue {
	background:url(../images/hexagon-blue.png) left top no-repeat;
	background-size:contain
}
.pro-explain.green {
	background:url(../images/hexagon-green.png) left top no-repeat;
	background-size:contain
}
.pro-explain.yellow {
	background:url(../images/hexagon-yellow.png) left top no-repeat;
	background-size:contain
}
.content-hexagon {
	display:block;
	width:128px;
	float:left;
	position:relative
}
.content-hexagon span.icon-hexagon {
	font-size:154px;
	position:absolute;
	left:0;
	top:0
}
.content-hexagon span.product-icons {
	font-size:50px
}
.content-hexagon strong {
	display:block;
	text-align:center;
	padding-top:34px;
	width:136%;
}
.web_en .content-hexagon strong {
	width:100%;
	margin-left:18%;
	font-weight:400
}
.content-hexagon strong span {
	display:block;
	width:100%;
	margin-bottom:10px
}
.content-hexagon:first-child,.content-hexagon:last-child {
	margin-top:72px
}
.content-servers:nth-child(2) .content-hexagon:nth-child(2) {
	margin-top:144px
}
.content-servers .content-hexagon-open-no a {
	cursor:default
}
/*展示图 字体颜色*/
.content-servers:first-child,.content-servers:first-child a {
	color:#147dff
}
.content-servers:nth-child(2) {
	color:#2fe17a;
	/*margin-top:122px*/
	margin-top: -70px;
}
.content-servers:last-child,.content-servers:last-child a {
	color:#f7af3e
}
.content-servers:nth-child(2) a {
	color:#2fe17a
}
/*展示图 字体颜色 end*/
.number-container h4,h2.title {
	text-align:center;
	color:#fff;
	display:block
}
.content-servers em {
	display:block;
	position:absolute
}
.content-servers em.planet-s {
	left:90px;
	top:90px
}
.content-servers em.planet-b {
	left:144px;
	top:242px
}
.content-servers em.planet-y {
	left:174px;
	top:214px
}
.planet-box {
	display:block;
	width:100%;
	position:absolute;
	left:0;
	top:-50px
}
h2.title {
	width:100%;
	font-size:24px;
	font-family:Arial,Helvetica,"Microsoft YaHei",sans-serif,SourceHanSans-Bold,simhei
}
.content-planet {
	width:590px;
	margin:0 auto;
	display:block;
	height:100px;
	position:relative
}
.number-container {
	text-align:center;
	width:436px;
	height:68px;
	position:absolute;
	left:48%;
	margin:108px auto 0 -191px;
	z-index:999999
}
.number-container>div>ul.flip:nth-child(1),.number-container>div>ul.flip:nth-child(4),.number-container>div>ul.flip:nth-child(7) {
	margin-right:16px
}
.number-container h4 {
	width:99%;
	position:absolute;
	top:-36px;
	font-size:16px
}
.number-container>div>ul.flip:nth-child(1):after,.number-container>div>ul.flip:nth-child(4):after,.number-container>div>ul.flip:nth-child(7):after {
	content:",";
	text-align:right;
	padding-left:38px;
	font-size:56px;
	color:#fff
}
.number-container ul {
	list-style:none
}
.number-container>div>ul.flip {
	width:34px
}
.number-container>div>ul.flip:nth-child(3),.number-container>div>ul.flip:nth-child(6) {
	margin-right:0
}
.number-container>div>ul.flip:nth-child(3):after,.number-container>div>ul.flip:nth-child(6):after {
	text-align:right;
	padding-left:0;
	font-size:42px;
	content:""
}
.number-container ul.flip {
	position:relative;
	font-family:futura_mdcn_btmedium;
	float:left;
	margin:0 3px;
	width:30px;
	height:66px;
	font-size:62px;
	font-weight:400;
	line-height:66px;
	border-radius:6px
}
.number-container ul.flip li {
	z-index:1;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%
}
.number-container ul.flip li:first-child {
	z-index:2
}
.number-container ul.flip li a {
	display:block;
	height:100%;
	perspective:200px;
	border-radius:4px;
	zoom:1;
	border:1px solid #078dff
}
.number-container .mobile-numbers {
	display:block;
	height:70px
}
.number-container .mobile-numbers:hover ul.flip li a {
	box-shadow:0 0 16px -4px #186ff0
}
.number-container ul.flip li a div {
	z-index:1;
	position:absolute;
	left:0;
	width:100%;
	height:50%;
	overflow:hidden
}
.number-container ul.flip li a div .shadow {
	position:absolute;
	width:100%;
	height:100%;
	z-index:2
}
.number-container ul.flip li a div.up {
	transform-origin:50% 100%;
	-moz-transform-origin:50% 100%;
	-ms-transform-origin:50% 100%;
	-o-transform-origin:50% 100%;
	-webkit-transform-origin:50% 100%;
	top:0
}
.number-container ul.flip li a div.up:after {
	content:"";
	position:absolute;
	top:34px;
	left:0;
	z-index:5;
	width:100%;
	height:3px;
	background:#2d76b9
}
.number-container ul.flip li a div.down {
	transform-origin:50% 0;
	-moz-transform-origin:50% 0;
	-ms-transform-origin:50% 0;
	-o-transform-origin:50% 0;
	-webkit-transform-origin:50% 0;
	bottom:0
}
.number-container ul.flip li a div div.inn {
	position:absolute;
	left:0;
	z-index:1;
	width:100%;
	height:200%;
	color:#fff;
	text-align:center;
	background:#1e2c66;
	border-radius:4px
}
.number-container ul.flip li a div.up div.inn {
	top:0
}
.number-container ul.flip li a div.down div.inn {
	bottom:0
}
.play ul li.before {
	z-index:3
}
.play ul li.active {
	animation:asd .5s .5s linear both;
	-moz-animation:asd .5s .5s linear both;
	-ms-animation:asd .5s .5s linear both;
	-o-animation:asd .5s .5s linear both;
	-webkit-animation:asd .5s .5s linear both;
	z-index:2
}
.ie7 .play ul li.active,.ie8 .play ul li.active,.ie9 .play ul li.active {
	z-index:4
}
@keyframes asd {
	0% {
	z-index:2
}
100%,5% {
	z-index:4
}
}@-moz-keyframes asd {
	0% {
	z-index:2
}
100%,5% {
	z-index:4
}
}@-webkit-keyframes asd {
	0% {
	z-index:2
}
100%,5% {
	z-index:4
}
}.play ul li.active .down {
	z-index:2;
	animation:turn .5s .5s linear both;
	-moz-animation:turn .5s .5s linear both;
	-ms-animation:turn .5s .5s linear both;
	-o-animation:turn .5s .5s linear both;
	-webkit-animation:turn .5s .5s linear both
}
@keyframes turn {
	0% {
	transform:rotateX(90deg)
}
100% {
	transform:rotateX(0)
}
}@-moz-keyframes turn {
	0% {
	-moz-transform:rotateX(90deg)
}
100% {
	-moz-transform:rotateX(0)
}
}@-webkit-keyframes turn {
	0% {
	-webkit-transform:rotateX(90deg)
}
100% {
	-webkit-transform:rotateX(0)
}
}.play ul li.before .up {
	z-index:2;
	animation:turn2 .5s linear both;
	-moz-animation:turn2 .5s linear both;
	-ms-animation:turn2 .5s linear both;
	-o-animation:turn2 .5s linear both;
	-webkit-animation:turn2 .5s linear both
}
@keyframes turn2 {
	0% {
	transform:rotateX(0)
}
100% {
	transform:rotateX(-90deg)
}
}@-moz-keyframes turn2 {
	0% {
	-moz-transform:rotateX(0)
}
100% {
	-moz-transform:rotateX(-90deg)
}
}@-webkit-keyframes turn2 {
	0% {
	-webkit-transform:rotateX(0)
}
100% {
	-webkit-transform:rotateX(-90deg)
}
}.play ul li.before .up .shadow {
	background:#1e2c66;
	border-radius:6px;
	animation:show .5s linear both;
	-moz-animation:show .5s linear both;
	-ms-animation:show .5s linear both;
	-o-animation:show .5s linear both;
	-webkit-animation:show .5s linear both
}
.play ul li.active .up .shadow {
	background:#1e2c66;
	border-radius:6px;
	animation:hide .5s .3s linear both;
	-moz-animation:hide .5s .3s linear both;
	-ms-animation:hide .5s .3s linear both;
	-o-animation:hide .5s .3s linear both;
	-webkit-animation:hide .5s .3s linear both
}
.play ul li.before .down .shadow {
	background:#1e2c66;
	border-radius:6px;
	animation:show .5s linear both;
	-moz-animation:show .5s linear both;
	-ms-animation:show .5s linear both;
	-o-animation:show .5s linear both;
	-webkit-animation:show .5s linear both
}
.play ul li.active .down .shadow {
	background:#1e2c66;
	border-radius:6px;
	animation:hide .5s .3s linear both;
	-moz-animation:hide .5s .3s linear both;
	-ms-animation:hide .5s .3s linear both;
	-o-animation:hide .5s .3s linear both;
	-webkit-animation:hide .5s .3s linear both
}
@keyframes show {
	0% {
	opacity:0
}
100% {
	opacity:1
}
}@-moz-keyframes show {
	0% {
	opacity:0
}
100% {
	opacity:1
}
}@-webkit-keyframes show {
	0% {
	opacity:0
}
100% {
	opacity:1
}
}@keyframes hide {
	0% {
	opacity:1
}
100% {
	opacity:0
}
}@-moz-keyframes hide {
	0% {
	opacity:1
}
100% {
	opacity:0
}
}@-webkit-keyframes hide {
	0% {
	opacity:1
}
100% {
	opacity:0
}
}@media only screen and (min-width:768px) and (max-width:858px) {
	.number-container>div>ul.flip:nth-child(1):after,.number-container>div>ul.flip:nth-child(4):after,.number-container>div>ul.flip:nth-child(7):after {
	padding-left:27px;
	font-size:36px;
	margin-right:16px
}
.number-container>div>ul.flip:nth-child(3):after,.number-container>div>ul.flip:nth-child(6):after {
	content:"";
	text-align:right;
	padding-left:0;
	font-size:42px
}
.number-container ul.flip li a {
	box-shadow:0 0 1px 0 #10a4e7;
	border:none
}
}@media only screen and (max-width:414px) {
	.number-container>div>ul.flip:nth-child(1):after,.number-container>div>ul.flip:nth-child(4):after,.number-container>div>ul.flip:nth-child(7):after {
	padding-left:28px;
	font-size:32px
}
.number-container>div>ul.flip:nth-child(3):after,.number-container>div>ul.flip:nth-child(6):after {
	content:"";
	text-align:right;
	padding-left:0;
	font-size:42px
}
.number-container ul.flip li a {
	box-shadow:0 0 1px 0 #10a4e7;
	border:none
}
}@media only screen and (min-width:480px) and (max-width:767px) {
	.number-container>div>ul.flip:nth-child(1):after,.number-container>div>ul.flip:nth-child(4):after,.number-container>div>ul.flip:nth-child(7):after {
	padding-left:27px;
	font-size:36px;
	margin-right:16px
}
.number-container>div>ul.flip:nth-child(3):after,.number-container>div>ul.flip:nth-child(6):after {
	content:"";
	text-align:right;
	padding-left:0;
	font-size:42px
}
.number-container ul.flip li a {
	box-shadow:0 0 1px 0 #10a4e7;
	border:none
}
}.gxt-ball {
	float:right;
	position:relative;
	width:292px;
	height:292px;
	margin:24px 146px 0 0;
	border-radius:50%
}
.gxt-ball em {
	position:absolute;
	z-index:10;
	height:189px
}
.gxt-ball span {
	margin-top:125px;
	display:block;
	clear:both
}
.gxt-ball em .bg-img {
	background:url(../images/pic-planet.png) left top no-repeat;
	width:292px;
	height:125px
}
.gxt-ball span .bg-img {
	background:url(../images/pic-planet.png) left -125px no-repeat;
	width:292px;
	height:270px
}
.pathway {
	position:absolute;
	right:47%;
	top:210px;
	z-index:0;
	height:520px
}
.pathway>.content-pathway {
	position:relative;
	z-index:0
}
.pathway>.content-pathway.forie {
	display:none
}
.pathway>.content-pathway>div {
	position:absolute;
	top:-28px;
	margin-left:-248px;
	margin-top:-220px;
	width:420px;
	height:420px;
	border-radius:50%;
	border:2px solid #2e7fba;
	-webkit-transform-style:preserve-3d;
	-webkit-transform:rotateX(70deg) rotateY(-4deg);
	-moz-transform-style:preserve-3d;
	-moz-transform:rotateX(70deg) rotateY(-4deg);
	-ms-transform-style:preserve-3d;
	-ms-transform:rotateX(70deg) rotateY(-4deg);
	-o-transform-style:preserve-3d;
	-o-transform:rotateX(70deg) rotateY(-4deg);
	transform-style:preserve-3d;
	transform:rotateX(70deg) rotateY(-4deg);
	z-index:0
}
.pathway>.content-pathway>div:nth-of-type(1) {
	border:2px solid #2e7fba
}
.pathway>.content-pathway>div:nth-of-type(2) {
	-webkit-transform:rotateX(68deg) rotateY(-4deg);
	-moz-transform:rotateX(68deg) rotateY(-4deg);
	-ms-transform:rotateX(68deg) rotateY(-4deg);
	-o-transform:rotateX(68deg) rotateY(-4deg);
	transform:rotateX(68deg) rotateY(-4deg);
	height:540px;
	width:540px;
	top:-13px;
	margin-top:-280px;
	margin-left:-304px;
	z-index:-1
}
.pathway>.content-pathway>div:nth-of-type(3) {
	-webkit-transform:rotateX(70deg) rotateY(-4deg);
	-moz-transform:rotateX(70deg) rotateY(-4deg);
	-ms-transform:rotateX(70deg) rotateY(-4deg);
	-o-transform:rotateX(70deg) rotateY(-4deg);
	transform:rotateX(70deg) rotateY(-4deg);
	height:340px;
	width:340px;
	left:50%;
	top:-36px;
	margin-top:-180px;
	margin-left:-206px;
	z-index:0;
	border:1px solid #2e7fba
}
.pathway>.content-pathway>div:first-of-type>div {
	width:420px;
	height:420px;
	position:absolute;
	-webkit-transform-style:preserve-3d;
	-webkit-animation:trail_ 5s infinite linear;
	-moz-transform-style:preserve-3d;
	-moz-animation:trail_ 5s infinite linear;
	-ms-transform-style:preserve-3d;
	-ms-animation:trail_ 5s infinite linear;
	-o-transform-style:preserve-3d;
	-o-animation:trail_ 5s infinite linear;
	transform-style:preserve-3d;
	animation:trail_ 5s infinite linear
}
.pathway>.content-pathway>div:first-of-type>div:after {
	content:"";
	position:absolute;
	top:-10px;
	left:50%;
	width:15px;
	height:15px;
	border-radius:50%;
	-webkit-animation:particle_ 5s infinite linear;
	-moz-animation:particle_ 5s infinite linear;
	-ms-animation:particle_ 5s infinite linear;
	-o-animation:particle_ 5s infinite linear;
	animation:particle_ 5s infinite linear;
	margin:0;
	background:-webkit-radial-gradient(18px 16px,circle,#5cabff,#000);
	background:-moz-radial-gradient(18px 16px,circle,#5cabff,#000);
	background:radial-gradient(18px 16px,circle,#5cabff,#000);
	transform:rotateX(90deg) rotateY(0);
	-webkit-transform:rotateX(90deg) rotateY(0);
	-moz-transform:rotateX(90deg) rotateY(0);
	-ms-transform:rotateX(90deg) rotateY(0);
	-o-transform:rotateX(90deg) rotateY(0)
}
.pathway>.content-pathway>div:nth-of-type(2)>div,.pathway>.content-pathway>div:nth-of-type(2)>div:after {
	-webkit-animation-delay:-.5s;
	-moz-animation-delay:-.5s;
	-ms-animation-delay:-.5s;
	-o-animation-delay:-.5s;
	animation-delay:-.5s
}
.pathway>.content-pathway>div:nth-of-type(3)>div,.pathway>.content-pathway>div:nth-of-type(3)>div:after {
	-webkit-animation-delay:-1s;
	-moz-animation-delay:-1s;
	-ms-animation-delay:-1s;
	-o-animation-delay:-1s;
	animation-delay:-1s
}
@-webkit-keyframes trail_ {
	from {
	-webkit-transform:rotateZ(0)
}
to {
	-webkit-transform:rotateZ(-360deg)
}
}@-moz-keyframes trail_ {
	from {
	-moz-transform:rotateZ(0)
}
to {
	-moz-transform:rotateZ(-360deg)
}
}@-o-keyframes trail_ {
	from {
	-o-transform:rotateZ(0)
}
to {
	-o-transform:rotateZ(-360deg)
}
}@keyframes trail_ {
	from {
	transform:rotateZ(0)
}
to {
	transform:rotateZ(-360deg)
}
}@-webkit-keyframes particle_ {
	0% {
	-webkit-transform:rotateX(90deg) rotateY(0) scale(.5)
}
25% {
	-webkit-transform:rotateX(90deg) rotateY(-73deg)
}
50% {
	-webkit-transform:rotateX(90deg) rotateY(0)
}
75% {
	-webkit-transform:rotateX(90deg) rotateY(77deg)
}
85% {
	-webkit-transform:rotateX(90deg) rotateY(138deg) scale(.95)
}
100% {
	-webkit-transform:rotateX(90deg) rotateY(200deg) scale(.5)
}
}@-moz-keyframes particle_ {
	0% {
	-moz-transform:rotateX(90deg) rotateY(0) scale(.5)
}
25% {
	-moz-transform:rotateX(90deg) rotateY(-73deg)
}
50% {
	-moz-transform:rotateX(90deg) rotateY(0)
}
75% {
	-moz-transform:rotateX(90deg) rotateY(77deg)
}
85% {
	-moz-transform:rotateX(90deg) rotateY(138deg) scale(.95)
}
100% {
	-moz-transform:rotateX(90deg) rotateY(200deg) scale(.5)
}
}@-o-keyframes particle_ {
	0% {
	-o-transform:rotateX(90deg) rotateY(0) scale(.5)
}
25% {
	-o-transform:rotateX(90deg) rotateY(-73deg)
}
50% {
	-o-transform:rotateX(90deg) rotateY(0)
}
75% {
	-o-transform:rotateX(90deg) rotateY(77deg)
}
85% {
	-o-transform:rotateX(90deg) rotateY(138deg) scale(.95)
}
100% {
	-o-transform:rotateX(90deg) rotateY(200deg) scale(.5)
}
}@keyframes particle_ {
	0% {
	transform:rotateX(90deg) rotateY(0) scale(.5)
}
25% {
	transform:rotateX(90deg) rotateY(-73deg)
}
50% {
	transform:rotateX(90deg) rotateY(0)
}
75% {
	transform:rotateX(90deg) rotateY(77deg)
}
85% {
	transform:rotateX(90deg) rotateY(138deg) scale(.95)
}
100% {
	transform:rotateX(90deg) rotateY(200deg) scale(.5)
}
}.main-contents {
	clear:both;
	display:block;
	overflow:hidden
}
.news-breviary {
	background:#eceef4;
	padding-top:56px;
	text-align:center;
	color:#fff
}
.content-breviary {
	width:1110px;
	margin:0 auto;
	color:#858b9a;
	text-align:left;
	display:block;
	overflow:hidden;
	padding:30px 0 80px
}
.content-breviary .news-blog {
	display:inline-block;
	width:18%;
	padding:14px 1%;
	text-align:left;
	font-size:12px;
	min-height:342px;
	position:relative;
	background:#fff
}
.content-breviary .news-blog.loading {
	background-image:url(../images/loading.gif);
	background-position:center center;
	background-repeat:no-repeat
}
.content-breviary .news-blog h3 {
	display:block;
	font-size:14px
}
.content-breviary .news-blog h3 font {
	color:#3f424b
}
.content-breviary .news-blog h3 a {
	color:#858b9a;
	font-size:12px
}
.content-breviary dl {
	clear:both;
	display:block;
	margin:0;
	padding:0
}
.content-breviary dl dt {
	display:block;
	margin:10px 0;
	text-align:center
}
.content-breviary dl dt.img-report img {
	margin:20px 0;
	box-shadow:26px 37px 30px -34px #b4b4b4,-26px 37px 30px -34px #b4b4b4,0 3px 9px #b4b4b4,0 2px 1px #b4b4b4
}
.content-breviary dl dd {
	color:#3f424b;
	font-weight:700;
	line-height:22px;
	font-size:14px
}
.content-breviary dl span {
	display:block;
	clear:both;
	line-height:18px;
	padding:4px 0
}
.content-breviary a.to-detail {
	color:#5d626f;
	clear:both;
	display:block;
	border:1px solid #aeb3c0;
	padding:8px 15px;
	margin-top:8px;
	position:absolute;
	left:12px;
	bottom:14px
}
.ad-container {
	height:372px;
	display:inline-block;
	margin:0 2%;
	width:56%;
	position:relative;
	color:#fff;
	float:left
}
.ad-container .sc_container {
	width:100%;
	height:372px;
	position:relative
}
.ad-container .sc_container li {
	height:372px;
	width:100%;
	overflow:hidden;
	display:none
}
.ad-container .sc_container .bg01 {
	background:url(../images/bg-home-weApp.jpg) left top no-repeat;
	background-size:cover;
	display:block
}
.ad-container .sc_container .bg02 {
	background:url(../images/ad-bg01.png) left top no-repeat #656fd8;
	display:block
}
.ad-container .sc_container .bg03 {
	background:url(../images/ad-bg02.png) left top no-repeat #656fd8;
	display:block
}
.ad-container .sc_container .bg04 {
	background:#fbc837
}
.ad-container .sc_container .bg05 {
	background:url(../images/bg-banner-TD-YM.jpg) left top no-repeat #656fd8;
	background-size:cover;
	display:block
}
.ad-container .sc_index {
	position:absolute;
	bottom:14px;
	z-index:10;
	width:100%;
	text-align:center
}
.ad-container .sc_index a {
	list-style:none;
	display:inline-block;
	border:1px solid #fff;
	width:10px;
	height:10px;
	border-radius:50%;
	text-indent:-9999px;
	overflow:hidden;
	margin:0 5px
}
.ad-container .section a,.ad-container .section img {
	width:100%;
	display:block
}
.ad-container .nav li a.active,.ad-container .sc_index a.current {
	background:#fff
}
.ad-container .section h2 {
	font-size:34px;
	font-family:SourceHanSans-Bold;
	padding:60px 0 0 45px
}
.ad-container .section h2 b {
	font-weight:400;
	color:#ffea00
}
.ad-container .section a {
	height:100%
}
.content-analysis {
	clear:both;
	display:block;
	border-bottom:2px solid #ecedf1;
	padding-bottom:50px;
	margin-bottom:10px
}
.analysis-type {
	width:1110px;
	margin:0 auto
}
.analysis-type .pic-box {
	display:none
}
.analysis-type.solution {
	width:880px;
	padding-bottom:50px
}
.analysis-type dl {
	width:27.33%;
	padding:0 3%;
	float:left
}
.analysis-type.solution.DMP dl {
	color:#fff
}
.analysis-type dt {
	background:url(../images/icons.png) -7px -145px no-repeat;
	width:126px;
	height:136px;
	margin:0 auto;
	display:block;
	text-indent:-9999px
}
.analysis-type dt.funnel {
	background-position:-178px -145px
}
.analysis-type dt.stereoscopic {
	background-position:-348px -145px
}
.analysis-type.solution dt {
	background:0 0;
	width:100%;
	height:164px;
	margin:0 auto;
	display:block;
	text-align:center;
	text-indent:inherit
}
.analysis-type.solution dt img {
	width:auto;
	margin:0 auto;
	max-height:163px
}
.analysis-type dd {
	font-size:20px;
	text-align:center;
	display:block;
	padding:14px 0
}
.analysis-type.solution dd {
	font-size:14px
}
.analysis-type dl span {
	display:block;
	line-height:26px
}
.analysis-type b {
	display:block;
	clear:both;
	width:597px;
	margin:20px auto 0
}
.analysis-detail {
	width:1040px;
	margin:0 auto;
	clear:both;
	padding-bottom:80px
}
.analysis-detail ul {
	margin:0;
	padding:0;
	zoom:1;
	display:block;
	overflow:hidden
}
.web_en .analysis-detail ul li {
	height:140px
}
.analysis-detail ul li {
	display:block;
	list-style:none;
	float:left;
	width:258px;
	margin:12px 20px;
	border:1px solid #cccfdc;
	padding:20px 40px 20px 0
}
.analysis-detail ul li span {
	float:left;
	width:28px;
	height:28px;
	display:block;
	text-indent:-9999px;
	background:url(../images/icons.png) -10px -320px no-repeat;
	margin:-2px 14px 0 0
}
.analysis-detail ul li span.compare {
	background-position:-53px -322px
}
.analysis-detail ul li span.explain {
	background-position:-94px -322px
}
.analysis-detail ul li span.notification {
	background-position:-134px -320px
}
.analysis-detail ul li span.control {
	background-position:-173px -320px
}
.analysis-detail ul li span.package {
	background-position:-219px -322px
}
.analysis-detail ul li h4 {
	font-size:16px;
	padding:0 0 14px 34px
}
.analysis-detail ul li h5 {
	font-size:14px;
	line-height:24px;
	padding-left:77px;
	color:#80838c
}
.user-analysis font {
	display:block;
	text-align:center;
	color:#fff;
	font-size:28px;
	padding-top:40px;
	font-style:oblique
}
.user-analysis .operate-regist {
	clear:both;
	display:block;
	padding:60px 0 110px;
	text-align:center
}
.operate-regist a {
	margin:0 28px;
	padding:14px 60px;
	border-radius:2px;
	text-decoration:none;
	font-size:16px
}
.operate-regist a.regist-btn {
	color:#22dba9;
	border:1px solid #22dba9
}
.operate-regist a:hover.regist-btn {
	background:#22dba9;
	color:#fff
}
.operate-regist a.view-btn {
	color:#9ca7ef;
	border:1px solid #9ca7ef
}
.operate-regist a:hover.view-btn {
	background:#9ca7ef;
	color:#fff
}
.operate-regist a.try-btn {
	color:#22dba9;
	border:1px solid #22dba9;
	line-height:30px
}
.operate-regist a:hover.try-btn {
	background:#22dba9;
	color:#fff
}
.smartcode_app {
	width:1110px;
	margin:0 auto;
	padding:30px 0 30px 40px
}
.smartcode_left {
	width:300px;
	float:left;
	color:#fff
}
.web_en .smartcode_left {
	width:345px
}
.web_en .smartcode_left ul li {
	margin-right:22px
}
.user-analysis .smartcode_left h3 {
	font-size:24px!important;
	padding-top:50px;
	position:relative;
	font-weight:400
}
.smartcode_left h3 b {
	width:28px;
	height:28px;
	background:url(../images/smartcode_hand.png) no-repeat;
	display:block;
	position:absolute;
	left:206px;
	top:30px
}
.smartcode_left ul {
	padding:25px 0
}
.smartcode_left ul li {
	font-size:16px;
	color:#42a3ff;
	margin-right:32px;
	display:inline-block;
	padding:6px 0;
	border-bottom:1px solid #4479c1
}
.smartcode_left p {
	font-size:14px;
	line-height:32px
}
.smartcode_button {
	margin-top:45px
}
.smartcode_button a {
	border-radius:50px;
	padding:12px 50px;
	color:#fff;
	font-size:16px;
	border:1px solid #fff;
	text-decoration:none
}
.smartcode_button a:hover {
	border:1px solid #fff;
	background:#fff;
	color:#42a3ff
}
.smartcode_right {
	float:right;
	width:610px
}
.smartcode_right img {
	width:100%
}
@media only screen and (min-width:1024px) and (max-width:1280px) {
	.smartcode_app {
	width:auto;
	margin:0 auto;
	padding:30px 0
}
.smartcode_left {
	margin-left:40px
}
.smartcode_right {
	margin-right:20px
}
}@media only screen and (min-width:737px) and (max-width:1023px) {
	.smartcode_app {
	width:auto;
	margin:0 auto;
	padding:30px 0
}
.smartcode_left {
	margin-left:40px
}
.smartcode_left h3 {
	padding-top:30px
}
.smartcode_left ul {
	padding:10px 0
}
.smartcode_left p {
	line-height:24px
}
.smartcode_button {
	margin-top:25px
}
.smartcode_right {
	margin-right:20px;
	width:46%
}
.smartcode_right img {
	width:100%
}
}@media only screen and (max-width:736px) {
	.smartcode_app {
	width:auto;
	margin:0 auto;
	padding:30px 0
}
.smartcode_left,.smartcode_right {
	clear:both;
	width:80%;
	float:inherit
}
.smartcode_left {
	margin:0 auto;
	padding-bottom:40px
}
.smartcode_left h3 {
	padding-top:30px
}
.smartcode_left ul {
	padding:10px 0
}
.smartcode_left p {
	line-height:24px
}
.smartcode_button {
	margin-top:25px
}
.smartcode_right {
	margin:0 auto
}
.smartcode_right img {
	width:100%
}
}.section .smartcode_left h3 {
	font-size:30px;
	color:#f0ff00;
	padding-top:50px;
	position:relative;
	font-weight:400
}
.web_en .section .smartcode_left h3 {
	font-size:22px
}
.section .smartcode_left {
	margin-left:20px;
	width:190px
}
.section .smartcode_left dl {
	clear:both;
	display:block;
	float:left;
	margin-top:12px
}
.section .smartcode_left dl dd {
	display:block;
	float:left;
	color:#fff;
	margin-right:10px;
	border-bottom:1px solid #fff;
	font-size:16px
}
.section .smartcode_left p {
	display:block;
	clear:both;
	float:left;
	margin-top:20px;
	font-size:16px
}
.web_en .section .smartcode_left p {
	line-height:20px
}
.section .smartcode_button {
	clear:both;
	display:block;
	float:left;
	border:1px solid #fff;
	border-radius:24px;
	width:130px;
	text-align:center;
	padding:10px 0;
	margin-top:20px
}
.section .smartcode_left h3 b.ad {
	background:url(../images/smartcode_hand-ad.png) no-repeat;
	left:66px
}
.ad-container .sc_container .bg02 span {
	display:block;
	float:left;
	width:60%;
	margin-top:74px
}
.section .smartcode_left font {
	display:block;
	float:left;
	clear:both
}
.ad-kochava {
	display:block;
	text-align:center;
	color:#fff;
	padding-top:24px
}
.web_en .ad-kochava {
	width:90%;
	margin:0 auto
}
.ad-kochava b {
	display:inline-block;
	text-align:center;
	padding-bottom:8px
}
.ad-kochava b img {
	width:auto
}
.ad-kochava h1,.ad-kochava h2,.ad-kochava h3,.ad-kochava h4 {
	display:block;
	font-weight:400;
	clear:both
}
.ad-kochava h1 {
	font-size:30px
}
.web_en .ad-kochava h1 {
	font-size:26px
}
.ad-container .section .ad-kochava h2 {
	font-size:32px;
	padding:8px 0 18px
}
.web_en .ad-container .section .ad-kochava h2 {
	font-size:26px;
	padding:5px 0
}
.ad-kochava h4 {
	font-size:21px;
	line-height:28px
}
.web_en .ad-kochava h4 {
	font-size:20px;
	width:80%;
	margin:0 auto;
	line-height:24px;
	padding-top:12px
}
.ad-kochava h3 {
	font-size:22px;
	line-height:26px;
	padding-top:3px
}
.web_en .ad-kochava h3 {
	font-size:16px;
	line-height:20px;
	padding-top:8px
}
.ad-kochava i {
	font-style:normal;
	color:#ffff45;
	font-size:18px
}
.web_en .ad-kochava i {
	font-size:16px
}
.ad-container .sc_container .bg01 {
	position:relative
}
.ad-container .sc_container .bg01 span {
	float:right;
	width:368px
}
.weApp-left {
	float:left;
	padding:60px 0 0 25px;
	color:#fff
}
.weApp-left h5 {
	font-size:20px;
	color:#68eefe;
	text-align:left
}
.weApp-left h3 {
	font-size:30px;
	padding:8px 0 20px;
	text-align:left
}
.weApp-left p {
	line-height:28px;
	padding-bottom:30px;
	text-align:left
}
.ad-container .sc_container .weApp-left ol li {
	display:inline-block;
	padding-right:14px;
	text-align:left;
	width:inherit;
	height:inherit
}
.web_en .ad-container .sc_container .weApp-left ol li {
	padding-right:0
}
.weApp-left ol li i {
	display:inline-block;
	vertical-align:middle;
	margin-right:14px;
	width:5px;
	height:5px;
	border-radius:50%;
	background:#68eefe
}
.web_en .weApp-left ol li i {
	margin-right:6px
}
.weApp-left button {
	width:180px;
	height:36px;
	line-height:36px;
	text-align:center;
	font-size:16px;
	color:#fff;
	border:1px solid #fff;
	border-radius:4px;
	margin-top:24px;
	background:0 0
}
@media only screen and (min-width:1024px) and (max-width:1280px) {
	.content-breviary {
	width:984px;
	padding:30px 20px 80px
}
.content-breviary dl span {
	line-height:16px
}
.section .smartcode_left {
	margin-left:20px
}
.ad-container .sc_container .bg01 span {
	position:absolute;
	left:200px
}
}@media only screen and (min-width:737px) and (max-width:1023px) {
	.content-breviary {
	width:auto;
	padding:30px 50px 80px
}
.content-breviary dl {
	margin-bottom:20px;
	width:100%
}
.content-breviary dl dd {
	line-height:18px
}
.content-breviary dl span {
	line-height:16px
}
.ad-container .sc_container .bg01 span {
	position:absolute;
	left:200px
}
}@media only screen and (min-width:415px) and (max-width:736px) {
	.content-breviary {
	width:auto;
	padding:20px 30px
}
.ad-container,.content-breviary .news-blog {
	width:90%;
	margin:0 auto 40px;
	display:block
}
.content-breviary .news-blog {
	clear:both;
	float:inherit;
	padding-bottom:50px
}
.ad-container .sc_container .bg01 span {
	position:absolute;
	left:200px
}
}@media only screen and (max-width:414px) {
	.product-content {
	height:auto
}
.content-breviary {
	width:100%!important;
	padding:0!important
}
.content-breviary dt {
	margin-bottom:14px!important
}
.ad-container,.content-breviary .news-blog {
	width:90%;
	margin:0 auto 40px;
	display:block
}
.content-breviary dd.report-download {
	background-position:-19px 66px
}
.content-breviary .news-blog {
	clear:both;
	float:inherit;
	padding-bottom:50px
}
.content-breviary .news-blog.reports {
	padding-bottom:0
}
.ad-container .sc_container .bg01 span {
	position:absolute;
	left:200px
}
}@media only screen and (max-width:1023px) {
	.section .smartcode_left {
	width:90%;
	margin-top:0 auto;
	float:inherit
}
.section .smartcode_left font {
	clear:none;
	margin-right:10px
}
.section .smartcode_left p {
	margin-top:0
}
.section .smartcode_button {
	margin-top:12px!important;
	width:110px
}
.section .smartcode_left dl {
	margin-bottom:12px
}
.ad-container .sc_container .bg02 span {
	margin-top:3px
}
.web_en .ad-container .section .ad-kochava h2,.web_en .ad-kochava h1 {
	font-size:20px
}
.ad-kochava h1 {
	font-size:22px
}
.web_en .ad-kochava h3,.web_en .ad-kochava h4 {
	font-size:14px;
	line-height:22px;
	width:auto;
	padding-top:12px
}
.ad-kochava h3 {
	font-size:16px;
	line-height:22px
}
.ad-kochava h4 {
	font-size:15px;
	width:80%;
	margin:0 auto;
	line-height:22px
}
}.partners {
	background:#fff;
	padding:50px 0;
	display:block
}
.partners h3 {
	display:block;
	color:#5563b2;
	text-align:center;
	font-size:24px;
	font-weight:400;
	padding-bottom:10px
}
.partner-logos {
	width:1003px;
	margin:0 auto
}
.hot-event {
	position:relative;
	height:260px
}
.hot-event ul {
	margin:0;
	padding:0;
	list-style:none;
	display:block
}
.hot-event .event-item {
	height:250px;
	width:1003px
}
.partner-logos .sc_index {
	text-align:center;
	padding:10px 0;
	z-index:4;
	position:absolute;
	bottom:0;
	width:100%
}
.partner-logos .sc_index .current,.partner-logos .sc_index a {
	cursor:pointer;
	margin:0 2px;
	display:inline-block;
	width:10px;
	height:10px;
	background:#d4d6df;
	border-radius:50%;
	font:0/0 arial;
	color:transparent;
	overflow:hidden;
	vertical-align:top
}
.partner-logos .sc_index .current {
	background:#767f9c
}
.partner-logos #inner {
	position:relative
}
.partners li .item-logo {
	float:left;
	padding:32px 37px 0 0;
	display:block
}
.partners li a {
	display:block;
	width:130px;
	height:60px;
	margin:0 auto;
	background:url(../images/index-partner.png)
}
.partners .logo-google {
	background-position:left 0
}
.partners .logo-baidu {
	background-position:left -60px
}
.partners .logo-aliyun {
	background-position:left -1680px
}
.partners .logo-qq {
	background-position:left -120px
}
.partners .logo-360 {
	background-position:left -180px
}
.partners .logo-sohu {
	background-position:left -240px
}
.partners .logo-youku {
	background-position:left -300px
}
.partners .logo-vip {
	background-position:left -360px
}
.partners .logo-liebao {
	background-position:left -420px
}
.partners .logo-jumei {
	background-position:left -480px
}
.partners .logo-didi {
	background-position:left -540px
}
.partners .logo-v-ifeng {
	background-position:left -600px
}
.partners .logo-qunar {
	background-position:left -660px
}
.partners .logo-meitu {
	background-position:left -720px
}
.partners .logo-inmobi {
	background-position:left -780px
}
.partners .logo-domob {
	background-position:left -840px
}
.partners .logo-pinyou {
	background-position:left -900px
}
.partners .logo-chukong {
	background-position:left -960px
}
.partners .logo-bluefocus {
	background-position:left -1020px
}
.partners .logo-zhaoshang {
	background-position:left -1080px
}
.partners .logo-zhongxin {
	background-position:left -1140px
}
.partners .logo-china-unionpay {
	background-position:left -1200px
}
.partners .logo-xingye {
	background-position:left -1260px
}
.partners .logo-chinamobile {
	background-position:left -1320px
}
.partners .logo-unicom {
	background-position:left -1380px
}
.partners .logo-telecom {
	background-position:left -1440px
}
.partners .logo-pingan {
	background-position:left -1500px
}
.partners .logo-guosen {
	background-position:left -1560px
}
.partners .logo-ucloud {
	background-position:left -1620px
}
.partners .logo-apicloud {
	background-position:left -1740px
}
.partners .logo-testin {
	background-position:left -1800px
}
.partners .logo-iapppay {
	background-position:left -1860px
}
@media only screen and (max-width:736px) {
	.partners .logo-baidu {
	background-position:left -46px
}
.partners .logo-aliyun {
	background-position:left -1288px
}
.partners .logo-qq {
	background-position:left -92px
}
.partners .logo-360 {
	background-position:left -138px
}
.partners .logo-sohu {
	background-position:left -184px
}
.partners .logo-youku {
	background-position:left -230px
}
.partners .logo-vip {
	background-position:left -276px
}
.partners .logo-liebao {
	background-position:left -322px
}
.partners .logo-jumei {
	background-position:left -368px
}
.partners .logo-didi {
	background-position:left -414px
}
.partners .logo-v-ifeng {
	background-position:left -460px
}
.partners .logo-qunar {
	background-position:left -506px
}
.partners .logo-meitu {
	background-position:left -552px
}
.partners .logo-inmobi {
	background-position:left -598px
}
.partners .logo-domob {
	background-position:left -644px
}
.partners .logo-pinyou {
	background-position:left -690px
}
.partners .logo-chukong {
	background-position:left -736px
}
.partners .logo-bluefocus {
	background-position:left -782px
}
.partners .logo-zhaoshang {
	background-position:left -828px
}
.partners .logo-zhongxin {
	background-position:left -874px
}
.partners .logo-china-unionpay {
	background-position:left -920px
}
.partners .logo-xingye {
	background-position:left -966px
}
.partners .logo-chinamobile {
	background-position:left -1012px
}
.partners .logo-unicom {
	background-position:left -1058px
}
.partners .logo-telecom {
	background-position:left -1104px
}
.partners .logo-pingan {
	background-position:left -1150px
}
.partners .logo-guosen {
	background-position:left -1196px
}
.partners .logo-ucloud {
	background-position:left -1242px
}
.partners .logo-apicloud {
	background-position:left -1334px
}
.partners .logo-testin {
	background-position:left -1380px
}
.partners .logo-iapppay {
	background-position:left -1426px
}
}@media only screen and (min-width:737px) and (max-width:1023px) {
	.partners {
	height:400px
}
.hot-event {
	height:370px
}
.hot-event .event-item,.partner-logos {
	width:100%
}
.partners li .item-logo {
	padding:32px 0 0;
	width:25%
}
.partners li a {
	width:130px;
	margin:0 auto
}
}@media only screen and (min-width:415px) and (max-width:736px) {
	.partners {
	height:320px
}
.hot-event {
	height:310px
}
.hot-event .event-item,.partner-logos {
	width:100%!important
}
.partner-logos ul .item-logo {
	list-style:none;
	width:25%;
	float:left;
	margin:20px 0;
	padding:0!important
}
.partners li a {
	background:url(../images/index-partner-s.png);
	width:99px;
	margin:0 auto;
	height:46px!important
}
}@media only screen and (max-width:414px) {
	body:before {
	content:' ';
	position:fixed;
	z-index:-1;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:url(../images/bg.jpg) top center no-repeat;
	background-size:cover
}
.partners {
	height:490px
}
.partners h3 {
	font-size:20px;
	padding:0 8%
}
.hot-event .event-item,.partner-logos {
	width:auto!important
}
.hot-event {
	height:450px
}
.partner-logos ul .item-logo {
	list-style:none;
	width:33.33%;
	margin:0 0 20px;
	padding:32px 0 0!important
}
.partners li a {
	background:url(../images/index-partner-s.png);
	width:99px;
	margin:0 auto;
	height:46px!important
}
}@media only screen and (max-width:1024px) {
	.pro-explain {
	display:none
}
}@media only screen and (min-width:1024px) and (max-width:1280px) {
	.contents-banner {
	padding:120px 0 80px;
	width:1000px
}
.number-container {
	margin:90px auto 0 -218px;
	left:50%
}
.number-container ul.flip {
	height:60px;
	font-size:60px;
	line-height:60px
}
.gxt-ball {
	margin:24px 173px 0 0;
	width:242px;
	height:242px
}
.gxt-ball span {
	margin-top:106px
}
.gxt-ball span .bg-img {
	background:url(../images/pic-planet.png) left -106px no-repeat;
	width:240px;
	height:220px;
	background-size:cover
}
.gxt-ball em .bg-img {
	background:url(../images/pic-planet.png) left top no-repeat;
	width:240px;
	height:106px;
	background-size:cover
}
.pathway {
	left:322px
}
.pathway>.content-pathway>div:nth-of-type(3) {
	width:300px;
	height:300px;
	margin-top:-190px;
	margin-left:-188px
}
.pathway>.content-pathway>div {
	width:370px;
	height:370px;
	margin-left:-219px;
	margin-top:-228px
}
.pathway>.content-pathway>div:nth-of-type(2) {
	width:440px;
	height:440px;
	margin-top:-264px;
	margin-left:-249px;
	z-index:-1
}
.pathway>.content-pathway>div:first-of-type>div {
	width:370px;
	height:370px;
	left:0;
	top:-4px
}
.content-servers {
	width:425px
}
.content-servers:first-child {
	margin-left:20px
}
.content-servers:nth-child(2) {
	margin:203px 0 0 -148px
}
.content-servers:last-child {
	float:right;
	margin:-457px -3px 0 0
}
.content-servers em.planet-b {
	left:114px;
	top:228px
}
.content-servers em.planet-s {
	left:12px;
	top:90px
}
.content-servers font {
	width:404px
}
.content-hexagon {
	width:120px
}
.content-hexagon span.icon-hexagon {
	font-size:148px
}
}@media only screen and (min-width:737px) and (max-width:1023px) {
	.contents-banner {
	margin:100px auto 0;
	padding:100px 0 80px
}
.box {
	width:736px;
	margin:0 auto
}
.planet-box {
	top:-100px
}
.number-container {
	margin:90px auto 0 -132px;
	width:298px
}
.number-container h4 {
	width:276px
}
.number-container ul.flip {
	height:50px;
	font-size:40px;
	line-height:50px;
	width:20px!important
}
.number-container>div>ul.flip:nth-child(1):after,.number-container>div>ul.flip:nth-child(4):after,.number-container>div>ul.flip:nth-child(7):after {
	font-size:36px;
	padding-left:26px
}
.content-planet {
	width:364px;
	margin:0 auto
}
.gxt-ball {
	margin:18px 32px 0 0;
	width:242px;
	height:242px
}
.gxt-ball span {
	margin-top:80px
}
.gxt-ball span .bg-img {
	background:url(../images/pic-planet.png) left -80px no-repeat;
	width:170px;
	height:120px;
	background-size:cover
}
.gxt-ball em .bg-img {
	background:url(../images/pic-planet.png) left top no-repeat;
	width:170px;
	height:80px;
	background-size:cover
}
.pathway {
	left:204px
}
.pathway>.content-pathway {
	z-index:-1
}
.pathway>.content-pathway>div:nth-of-type(3) {
	width:210px;
	height:210px;
	margin-top:-170px;
	margin-left:-136px
}
.pathway>.content-pathway>div {
	width:266px;
	height:266px;
	margin-left:-164px;
	margin-top:-200px
}
.pathway>.content-pathway>div:nth-of-type(2) {
	width:340px;
	height:340px;
	margin-top:-238px;
	margin-left:-194px
}
.pathway>.content-pathway>div:first-of-type>div {
	width:266px;
	height:266px;
	left:0;
	top:-4px
}
.content-servers {
	width:316px
}
.content-servers:first-child {
	margin-left:6px
}
.content-servers:nth-child(2) {
	margin:217px 0 0 -121px
}
.content-servers.sec .content-hexagon {
	margin-top:10px
}
.content-servers.sec .content-hexagon:nth-child(2) {
	margin-top:68px
}
.content-servers:nth-child(2) font {
	top:-20px
}
.content-servers:last-child {
	float:right;
	margin:-380px 24px 0 0
}
.content-servers em.planet-b {
	left:96px;
	top:200px;
	width:120px;
	height:120px
}
.content-servers em.planet-s {
	left:12px;
	top:70px
}
.content-servers em.planet-y {
	left:122px;
	top:186px
}
.content-servers font {
	width:336px
}
.content-hexagon:first-child,.content-hexagon:last-child {
	margin-top:56px
}
.content-hexagon {
	width:100px
}
.content-hexagon span.icon-hexagon {
	font-size:122px
}
.content-hexagon strong {
	padding-top:16px;
	width:136px;
	margin:0 auto;
	text-align:center
}
}@media only screen and (min-width:415px) and (max-width:736px) {
	.home-body {
	background:0 0;
	height:auto!important;
	max-height:none;
	min-height:inherit
}
.contents-banner {
	padding:224px 0 300px;
	margin:30px auto
}
.planet-box {
	top:0
}
.number-container {
	margin:90px auto 0 -149px;
	width:298px;
	left:50%
}
.number-container h4 {
	width:278px
}
.number-container ul.flip {
	height:50px;
	font-size:40px;
	line-height:50px;
	width:20px!important
}
.number-container>div>ul.flip:nth-child(1):after,.number-container>div>ul.flip:nth-child(4):after,.number-container>div>ul.flip:nth-child(7):after {
	padding-left:26px;
	font-size:40px
}
.content-planet {
	width:364px;
	margin:0 auto
}
.gxt-ball {
	margin:18px 32px 0 0;
	width:242px;
	height:242px
}
.gxt-ball span {
	margin-top:80px
}
.gxt-ball span .bg-img {
	background:url(../images/pic-planet.png) left -80px no-repeat;
	width:170px;
	height:120px;
	background-size:cover
}
.gxt-ball em .bg-img {
	width:170px;
	height:80px;
	background-size:cover
}
.pathway {
	right:44%;
	left:auto;
	top:188px
}
.pathway>.content-pathway {
	z-index:-1
}
.pathway>.content-pathway>div:nth-of-type(3) {
	width:210px;
	height:210px;
	margin-top:-170px;
	margin-left:-136px
}
.pathway>.content-pathway>div {
	width:266px;
	height:266px;
	margin-left:-164px;
	margin-top:-200px
}
.pathway>.content-pathway>div:nth-of-type(2) {
	width:340px;
	height:340px;
	margin-top:-238px;
	margin-left:-194px
}
.pathway>.content-pathway>div:first-of-type>div {
	width:268px;
	height:268px;
	left:0;
	top:0;
	z-index:99999
}
.content-servers {
	clear:both;
	width:410px;
	margin:0 0 0 -205px;
	left:50%;
	z-index:0
}
.content-servers:last-child,.content-servers:nth-child(2) {
	margin-top:330px
}
.content-servers font {
	position:absolute;
	left:5%;
	top:122px!important;
	width:auto
}
.content-servers:last-child font {
	left:3%
}
.content-servers em.planet-s {
	left:30px;
	top:4px
}
.content-servers em.planet-b {
	left:4px;
	top:242px;
	width:120px
}
.content-hexagon:first-child,.content-hexagon:last-child,.content-hexagon:nth-child(2) {
	display:block;
	width:42%;
	position:absolute
}
.content-servers em.planet-y {
	left:260px;
	top:-50px
}
.content-hexagon:last-child {
	top:4px;
	left:53%
}
.content-hexagon strong {
	width:100%
}
.web_en .content-hexagon strong {
	margin-left:0
}
.content-hexagon:first-child {
	top:80px;
	left:21%
}
.content-hexagon:nth-child(2) {
	left:21%;
	margin:0!important
}
.ad-top {
	display:none
}
}@media only screen and (max-width:414px) {
	.home-body {
	background:0 0;
	height:auto!important;
	max-height:none;
	min-height:inherit
}
.contents-banner {
	padding:196px 0 320px!important
}
.planet-box {
	top:0
}
.web_en h2.title {
	font-size:17px;
	width:80%;
	margin:0 auto
}
.number-container {
	margin:90px auto 0 -148px;
	width:296px;
	left:50%
}
.number-container h4 {
	width:96%
}
.number-container ul.flip {
	height:44px;
	font-size:34px;
	line-height:44px;
	width:20px!important
}
.content-planet {
	width:320px!important
}
.gxt-ball {
	margin:24px 72px 0 0;
	width:158px;
	height:158px
}
.gxt-ball span {
	margin-top:65px
}
.gxt-ball span .bg-img {
	background:url(../images/pic-planet.png) left -65px no-repeat;
	width:130px;
	height:120px;
	background-size:cover
}
.gxt-ball em .bg-img {
	width:130px;
	height:65px;
	background-size:cover
}
.pathway {
	right:45%;
	left:auto;
	top:188px
}
.pathway>.content-pathway {
	z-index:-1
}
.pathway>.content-pathway>div:nth-of-type(3) {
	width:160px!important;
	height:160px!important;
	margin-top:-150px!important;
	margin-left:-98px!important
}
.pathway>.content-pathway>div {
	width:210px!important;
	height:210px!important;
	margin-left:-127px!important;
	margin-top:-178px!important
}
.pathway>.content-pathway>div:nth-of-type(2) {
	width:280px!important;
	height:280px!important;
	margin-top:-218px!important;
	margin-left:-159px!important
}
.pathway>.content-pathway>div:first-of-type>div {
	width:210px!important;
	height:210px!important
}
.contents-banner .box {
	display:block;
	width:320px;
	margin:0 auto
}
.content-servers {
	clear:both;
	width:100%;
	z-index:0
}
.content-servers:last-child,.content-servers:nth-child(2) {
	margin-top:270px
}
.content-servers:last-child font {
	left:3%
}
.content-servers em.planet-s {
	left:30px;
	top:4px;
	width:40px
}
.content-servers em.planet-b {
	top:196px;
	width:90px;
	left:0
}
.content-servers em.planet-y {
	left:220px;
	top:-50px;
	width:60px
}
.content-servers font {
	font-size:16px;
	left:5%;
	top:108px!important;
	width:auto!important;
	position:absolute
}
.content-hexagon:first-child,.content-hexagon:last-child,.content-hexagon:nth-child(2) {
	display:block;
	width:134px;
	position:absolute
}
.content-hexagon span.icon-hexagon {
	font-size:126px
}
.content-hexagon:first-child {
	left:24%;
	top:52px
}
.content-hexagon:nth-child(2) {
	left:24%;
	margin-top:0!important
}
.content-hexagon:last-child {
	left:56%;
	top:-10px
}
.content-hexagon span.product-icons {
	font-size:46px
}
.content-hexagon strong {
	width:105%;
	padding-top:22px
}
.web_en .content-hexagon strong {
	margin-left:3%
}
.ad-top {
	display:none
}
}.ie9 .pathway>.content-pathway.normal {
	display:none
}
.ie9 .pathway>.content-pathway.forie {
	display:block
}
.ie9 .number-container ul.flip li a div .shadow {
	z-index:0
}
.ie9 .main-nav .content-menu ul>li font {
	top:37px
}
.ie9 .main-nav .content-menu ul li ol {
	top:52px
}
.to-T11-2016 {
	position:fixed;
	right:15px;
	top:300px;
	z-index:100
}
